<ion-content>
  <ion-header>
    <ion-toolbar>
      <ion-title style="text-align: center;">Registrar asistencias</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="login-box">
    <h2>Login</h2>
    <form [formGroup]="formularioLogin">
      <div class="user-box">
        
        <br><ion-input formControlName="userName" type="text" required></ion-input>
        <label>Usuario</label>
        
      </div>
      <div class="user-box">
        
        <br><ion-input formControlName="userPass" type="password" required></ion-input>
        <label>Contraseña</label>
      </div>
      <a (click)="guardarDatosUsuario()">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        Ingresar
      </a>
    </form>
    <br>
    <ion-button class="recover-button" expand="block" color="primary" routerLink="/restablecer"> Recuperar Contraseña </ion-button>
  </div>
  <br>
  <br>
</ion-content>

