.container {
  padding: 15px;
}

ion-avatar {
  margin-right: 15px;
}

ion-label {
  display: flex;
  flex-direction: column;
}

ion-radio-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

ion-button {
  margin-top: 20px;
}