<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title color="primary">Asistencia</ion-title>
  </ion-toolbar>
</ion-header>
<style>
  .footer {
  background-color: #333;
  color: #fff;
  padding: 15px;
  position: bottom;
}
</style>
<ion-content class="container"> Control de Asistencia
  <ion-list>
    <ion-item *ngFor="let personaje of personajes">
      <ion-avatar slot="start">
        <img [src]="" alt="">
      </ion-avatar>
      <ion-label> {{ personaje.firstName }} {{personaje.lastName}}
                  <br>
        <ion-radio-group [(ngModel)]="personaje.status">
          <ion-item>
            <ion-label>Presente</ion-label>
            <ion-radio slot="start" value="Presente"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>Ausente</ion-label>
            <ion-radio slot="end" value="ausente"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-label>
    </ion-item>
  </ion-list>



    <ion-button expand="block" color="primary" routerLink="/login">Cerrar Sesión</ion-button>

    <footer>

      Bienvenido: {{nombreUsuario}}

    </footer>

  </ion-content>


  